.bar_dark {
    fill: #75204f;
}

.bar {
    fill: #75204f;
}

.bar_light {
  fill: steelblue;
}

.axisBlue line{
  stroke: steelblue;
}

.axisBlue path{
  stroke: steelblue;
}

.axisBlue text{
  fill: steelblue;
}
