.line {
  fill: none;
  stroke-width: 2px;
}

.line_dark {
    stroke: red;
}

.line_light{
  stroke: steelblue;
}


.axisBlue line{
  stroke: steelblue;
}

.axisBlue path{
  stroke: steelblue;
}

.axisBlue text{
  fill: steelblue;
}
