/server/node_modules
/web/node_modules
/server/package-lock.json
/web/package-lock.json
/kubernetes-manifests
/mongodb_data
/~

# Ignore any node_modules (including koa-server)
node_modules/
/koa-server/node_modules
/koa-server/package-lock.json
